{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.userprofile.picture.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p id="p-name-id" class="text-secondary">{{ user.first_name }}</p>
                <p id="p-email-id" class="text-secondary">{{ user.email }}</p>
            </div>

        <!-- FORM HERE -->
    </div>
    <hr>
    {% include "accounts/modal_user_edit.html" %}
    <br />
    <br />
    {% include "accounts/modal_userprofile_edit.html" %}
    <br />
    <br />
    {% include "accounts/modal_password_change.html" %}

    </div>
{% endblock content %}

{% block jquery %}
    <script>
        $(document).ready(function() {
            function clear_field() {
                $('#id_name').val('')
            }

             $("#password-change-form").submit(function (e) {
                e.preventDefault();
                var this_ = $(this),
                    formData = this_.serialize();

                $.ajax({
                    url: "/api/user/{{ user.id }}/",
                    data: formData,
                    method: "PATCH",
                    success: function (data) {
                        console.log(data);

                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data.statusText);
                        console.log(data.status);
                        console.log(data)
                    }
                });
            });

            $("#user-edit-form").submit(function (e) {
                e.preventDefault();
                var this_ = $(this),
                    formData = this_.serialize(),
                    url = "/api/user/{{ user.id }}/";

                $.ajax({
                    url: url,
                    data: formData,
                    method: "PATCH",
                    success: function (data) {
                        console.log(data);
                        ajax_get(url, change_profile_email);
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data.statusText);
                        console.log(data.status);
                        console.log(data)
                    }
                });
            });

            $("#userprofile-edit-form").submit(function (e) {
                e.preventDefault();
                var formData = new FormData();

                formData.append( 'picture', ($(this).find('[type=file]')[0].files[0]));
                {#formData.append('_method', 'PATCH');#}

                $.ajax({
                    enctype: 'multipart/form-data',
                    url: "/api/profile/{{ user.userprofile.id }}/",
                    data: formData,
                    method: "PATCH",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data.statusText);
                        console.log(data.status);
                        console.log(data)
                    }
                });
            });

            $('#user-edit-id').click(function (e) {
                 e.preventDefault();
                var url = "/api/user/{{ user.id }}/";
                ajax_get(url, fill_edit_form);
            });

            function ajax_get(url, success_func) {
                $.ajax({
                    url: url,
                    method: "GET",
                    success: function(data){
                        console.log(data['first_name']);
                        console.log(data['email']);
                        success_func(data);
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    }
                });
            }

            function fill_edit_form(data) {
                $("#id_first_name").val(data['first_name']);
                $("#id_email").val(data['email']);
            }

            function change_profile_email(data) {
                $("#p-email-id").text(data["email"]);
            }

        });

    </script>
{% endblock jquery %}