{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {#  Modals  #}
    {% include "core/modal_help_1.html" %}
    {% include "core/modal_help_2.html" %}
    {% include "core/modal_help_3.html" %}
    {% include "core/modal_help_4.html" %}
    {% include "core/modal_help_5.html" %}
    {% include "core/modal_help_6.html" %}
    {% include "core/modal_help_7.html" %}

    <legend class="text-center">Follow the guide below to learn how to use this application:</legend>

    {#  DOWLOAD GOMOKU RECORD FROM KURNIK SECTION  #}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-outline-secondary btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Download gomoku record from Kurnik.pl
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="font-size: large">
                    <ol>
                        <li>
                            If you don't have kurnik/playok account you can visit this
                            <a href="https://www.kurnik.pl/stat.phtml?u=henryy07&g=gm&sk=2">link</a> to create one, however it's not necessary.</li>
                        <li>
                            You should see statistics of nickname "henryy07"(it's my account). To add one of these games to your list copy link of txt item
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-1">look here</button>
                        </li>
                        <li>Copied link should look like this one: <strong>https://www.kurnik.pl/p/?g=gm133521621&txt</strong> (you can use this link, at the end of this section I'll provide more valid links)</li>
                        <li>
                            Go to the <a href="{% url 'gomoku:game-list' %}">game list</a>
                            section, and click on "Download game from Kurnik/Plyok" button, you should see something like
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-2">this</button>
                        </li>
                        <li>
                            If you paste link, just press "Confirm" and if everything went well, you should see similar
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-3">screen</button>
                        </li>
                        <li>
                            <strong>Congratulations!</strong> You just added game to your list, now you can display game record by clicking on a link.<br />
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-6">example1</button>
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-7">example1</button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        {#    UPLOAD GAME RECORD FROM FILE SECTION    #}
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-outline-secondary btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Upload game from file
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body" style="font-size: large">
                    <ol>
                        <li>Go <a href="#">here</a> if you don't have gomoku record text file, there are few sample game records for you ready to be downloaded.</li>
                        <li>
                            If you have sample game records files go to <a href="{% url 'gomoku:game-list' %}"> "Your games"</a> section
                            and click "Upload game from file" button, then you should see something like this:
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-4">look here</button>
                        </li>
                        <li>
                            If you already chose and loaded file to the form, press "Confirm" button and you should see similar screen:
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-5">look here</button>
                        </li>
                        <li>
                            <strong>Congratulations!</strong> You just added game to your list, now you can display game record by clicking on a link.<br />
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-6">example1</button>
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-7">example1</button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}