{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% include "core/modal_help_1.html" %}
    {% include "core/modal_help_2.html" %}
    {% include "core/modal_help_3.html" %}
    <legend class="text-center">Follow the guide below to learn how to use this application:</legend>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-outline-secondary btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Download gomoku record from Kurnik.pl
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="font-size: large">
                    <ol>
                        <li>If you don't have kurnik/playok account please visit this <a href="https://www.kurnik.pl/stat.phtml?u=henryy07&g=gm&sk=2">link</a>.</li>
                        <li>
                            You should see statistics of nickname "henryy07"(it's my account). To add one of these games to your list copy link of txt item
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-1">look here</button>
                        </li>
                        <li>Copied link should look like this one: <strong>https://www.kurnik.pl/p/?g=gm133521621&txt</strong> (you can use this link, at the end of this section I'll provide more valid links)</li>
                        <li>
                            Go to the <a href="{% url 'gomoku:game-list' %}">game list</a>
                            section, and click on "Download game from Kurnik/Plyok" button, you should see something like
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-2">this</button>
                        </li>
                        <li>
                            If you paste link, just press "Confirm" and if everything went well, you should see similar
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#help-modal-3">screen</button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-outline-secondary btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-outline-secondary btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
{% endblock content %}