{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if validlink %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Please enter your password twice</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" value="Send e-mail">Set password</button>
                </div>
            </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it been already used.
            Please request a new password reset.
        </p>
        </div>
    {% endif %}
{% endblock content %}