{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img id="profile-pic" class="rounded-circle account-img" src="{{ user.userprofile.picture.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p id="p-name-id" class="text-secondary">{{ user.first_name }}</p>
                <p id="p-email-id" class="text-secondary">{{ user.email }}</p>
            </div>

        <!-- FORM HERE -->
    </div>
    <hr>
    {% include "accounts/modal_user_edit.html" %}
    <br />
    <br />
    {% include "accounts/modal_userprofile_edit.html" %}
    <br />
    <br />
    <a href="{% url 'password_change' %}">
        <button class="btn btn-secondary" type="submit">
            Change your password
        </button>
    </a>


    </div>
{% endblock content %}

{% block jquery %}
    <script>
        $(document).ready(function() {
            // remove text from the html tag
            function clear_field(selector) {
                $(selector).text('')
            }

            // remove added html tags from the chosen html tag
            function clear_html(selector) {
                $(selector).html('')
            }


            {# $("#password-change-form").submit(function (e) {#}
            {#    e.preventDefault();#}
            {#    var this_ = $(this),#}
            {#        formData = this_.serialize();#}
            {#    $.ajax({#}
            {#        url: "/api/user/{{ user.id }}/",#}
            {#        data: formData,#}
            {#        method: "PATCH",#}
            {#        success: function (data) {#}
            {#            console.log(data);#}
            {#        },#}
            {#        error: function (data) {#}
            {#            console.log("error");#}
            {#            console.log(data.statusText);#}
            {#            console.log(data.status);#}
            {#            console.log(data)#}
            {#        }#}
            {#    });#}
            {# }); #}

            // Edit user data with ajax submit
            $("#user-edit-form").submit(function (e) {
                e.preventDefault();
                var this_ = $(this),
                    formData = this_.serialize(),
                    url = "/api/user/{{ user.id }}/";
                $.ajax({
                    url: url,
                    data: formData,
                    method: "PATCH",
                    success: function (data) {
                        console.log(data);
                        // clearing alert messages
                        clear_html("#email-edit-success");
                        clear_html("#email-edit-error");
                        // Alert success message
                        $("#email-edit-success").append(
                            '<div class="alert alert-success" role="alert">Your profile has been successfully updated!</div>');
                        // Update user data in the profile template
                        ajax_get(url, change_profile_data);
                    },
                    error: function (data) {
                        console.log(data.responseText);
                        // clearing alert messages
                        clear_html("#email-edit-success");
                        clear_html("#email-edit-error");
                        // Alert error message
                        if (data.responseText === '{"email":["That email address is already taken."]}') {
                            $("#email-edit-error").append(
                                '<div class="alert alert-danger" role="alert">' + JSON.parse(data.responseText).email[0] + '</div>');
                        }

                    }
                });
            });

            // Edit user profile picture with ajax submit
            $("#userprofile-edit-form").submit(function (e) {
                e.preventDefault();
                var formData = new FormData(),
                    url = "/api/profile/{{ user.userprofile.id }}/";

                formData.append('picture', ($(this).find('[type=file]')[0].files[0]));

                $.ajax({
                    enctype: 'multipart/form-data',
                    url: url,
                    data: formData,
                    method: "PATCH",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        // clearing alert messages
                        clear_html("#pic-edit-success");
                        clear_html("#pic-edit-error");
                        // success alert message
                        $("#pic-edit-success").append('<div class="alert alert-success" role="alert">Your profile picture has been successfully updated!</div>');
                        // update profile picture
                        ajax_get(url, change_profile_picture);
                        // clear value from the form
                        $("input#id_picture").val("");
                        $("#userprofile-edit").modal("hide");
                    },
                    error: function (data) {
                        console.log(data.status + " status");
                        console.log(data.responseText);
                        // Clearing alert messages
                        clear_html("#pic-edit-success");
                        clear_html("#pic-edit-error");
                        // Adding alert error message
                        $("#pic-edit-error").append(
                            '<div class="alert alert-danger" role="alert">' + JSON.parse(data.responseText).non_field_errors[0] + '</div>');

                    }
                });
            });

            $('#user-edit-id').click(function (e) {
                 e.preventDefault();
                var url = "/api/user/{{ user.id }}/";
                ajax_get(url, fill_edit_form);
                clear_html("#email-edit-success");
                clear_html("#email-edit-error");
            });

            $('#user-edit-picture-id').click(function (e) {
                 e.preventDefault();
                var url = "/api/profile/{{ user.userprofile.id }}/";
                ajax_get_img(url, change_profile_picture);
                clear_html("#pic-edit-success");
                clear_html("#pic-edit-error");
            });

            function ajax_get_img(url, success_func) {
                $.ajax({
                    url: url,
                    method: "GET",
                    processData: false,
                    contentType: false,

                    success: function(data){
                        console.log(data.picture);
                        success_func(data);
                    },
                    error: function(data){
                        console.log("error img ajax");
                        console.log(data);
                    }
                });
            }

            function ajax_get(url, success_func) {
                $.ajax({
                    url: url,
                    method: "GET",
                    success: function(data){
                        console.log(data);
                        success_func(data);
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    }
                });
            }

            function fill_edit_form(data) {
                $("#id_first_name").val(data['first_name']);
                $("#id_email").val(data['email']);
            }

            function change_profile_data(data) {
                $("#p-email-id").text(data["email"]);
                $("#p-name-id").text(data["first_name"]);
            }

            function change_profile_picture(data) {
                $("#profile-pic").attr("src", data.picture);
            }
        });
    </script>
{% endblock jquery %}