{% extends "core/base.html" %}
{% block style %}
    <style>
        .board-cell {
        fill: transparent;
        stroke: black;
    }

    .board-container {
        background-color: #ebc98a;
        height: 610px;
        width: 610px;
    ;
    }

    .contents .board-cell-intersection .board-cell{
        -webkit-tap-highlight-color: transparent;
    }

    .board-cell-intersection-rect  .board-cell-intersection-circle{
        fill: transparent;
    }

    svg {
        fill: transparent;
    }

    .contents {
        position: relative;
        overflow: hidden;
        cursor: default;
    }

    .board-cell-intersection-coordinates {
        fill: transparent;
        font-size: 20px;
        font-style: oblique;
    }
</style>
{% endblock style %}
{% block content %}
    <div id="game-delete-success">
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Game Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this game? Press "Confirm" button to continue.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary delete-game-class"  data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="game-record-list" class="row">
        </div>
    </div>
{% endblock content %}

{% block jquery %}
<script>
    $(document).ready(function() {
        function clear_field() {
            $('#id_name').val('')
        }

        function ajax_list(url=null, success_func=null) {
            var container = $(".game-list");
            $.ajax({
                url: url,
                method: "GET",
                success: function(data){
                    success_func(data);
                    $(window).off("scroll");
                    infinite_scroll(data['next']);
                },
                error: function(data){
                    console.log("error");
                    console.log(data);
                }
            })
        }
        
        function game_records_list(data=false) {
            $.each(data['results'], function (k, v) {
                var a_element =  "<div id=\"div-players-" + v["id"] + "\" class=\"col col-lg-9\"><a href='/gomoku/game/" + v["id"] +
                    "' class='list-group-item list-group-item-action list-group-item-light game-record-item'>" +
                    v["black_player_nickname"] + " - " + v["white_player_nickname"] + "</a></div>" +
                    "<div id=\"div-delete-" + v["id"] + "\" class=\"col\"><a href=\"#\" class=\"list-group-item list-group-item-action list-group-item-light\ delete-game-data\" data-id=" +
                    v["id"] + " data-toggle=\"modal\" data-target=\"#delete-modal\" >Delete</a></div>" + "<div id=\"div-w-100-" + v["id"] + "\" class=\"w-100\"></div>\n";
                $("#game-record-list").append(a_element);
            });
            delete_game_record();
        }

        // Function to pass id value to delete_game_record function

        function delete_game_record() {
            $(".delete-game-data").click(function (e) {
                e.preventDefault();
                var game_record_id = $(this).data('id');
                console.log(game_record_id + "   game record id");
                $('.delete-game-class').off("click");
                perform_delete_game_record(game_record_id);
            });
        }

        // Delete on click add event on button
        function perform_delete_game_record (id=null) {
            var delete_html_elem = $('.delete-game-class');

            delete_html_elem.click(function (e) {
                e.preventDefault();
                var game_delete_success = $("#game-delete-success"),
                    div_elem = $("div");
	            console.log(id);
	            $.ajax({
                    url: "/api/game_records/" + id + "/",
                    method: "DELETE",
                    success: function(data){
                        console.log('Deleted');
                        console.log(data);
                        // clear all not dismissed messages
                         game_delete_success.html("");
                        // delete html elements from deleted game record
                        div_elem.remove( "#div-players-" + id );
                        div_elem.remove( "#div-delete-" + id );
                        div_elem.remove( "#div-w-100-" + id );
                        // success alert
                        game_delete_success.append("<div class=\"alert alert-success alert-dismissible fade show\" role=\"alert\">\n" +
                            "  <strong>Game has been successfully deleted.</strong> \n" +
                            "  <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                            "    <span aria-hidden=\"true\">&times;</span>\n" +
                            "  </button>\n" +
                            "</div>");
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data.statusText);
                    }
                 });
            });
        }

        // function to enable loading next pages in pagination by scrolling down
        function infinite_scroll(next_url=null) {
            var page = 1,
                empty_page = false,
                block_request = false,
                container = $(".game-list");

            $(window).scroll(function() {
                var margin = $(document).height() - $(window).height() - 200;
                if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
                    block_request = true;
                    page += 1;
                    url = next_url;

                $.ajax({
                    url: url,
                    method: "GET",
                    success: function(data){
                        if(next_url == null) {
                            console.log('the end!');
                            empty_page = true;
                        } else {
                            block_request = false;
                            game_records_list(data);
                            next_url = data['next'];
                            console.log(data['next'])
                        }
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    }
                })

                }
            });
        }
        ajax_list("/api/game_records", game_records_list);
    });
</script>
{% endblock jquery %}