{% extends "core/base.html" %}
{% block style %}
    <style>
        .board-cell {
        fill: transparent;
        stroke: black;
    }

    .board-container {
        background-color: #ebc98a;
        height: 610px;
        width: 610px;
    ;
    }

    .contents .board-cell-intersection .board-cell{
        -webkit-tap-highlight-color: transparent;
    }

    .board-cell-intersection-rect  .board-cell-intersection-circle{
        fill: transparent;
    }

    svg {
        fill: transparent;
    }

    .contents {
        position: relative;
        overflow: hidden;
        cursor: default;
    }

    .board-cell-intersection-coordinates {
        fill: transparent;
        font-size: 20px;
        font-style: oblique;
    }
</style>
{% endblock style %}
{% block content %}
    <h1>Your game list</h1>
    <div class="list-group">
        {% for obj in object_list %}
            <a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-light">
                {{ obj.black_player }} - {{ obj.white_player }}, {{ obj.game_date }}
            </a>
        {% endfor %}

    </div>

    <hr>
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}
{% endblock content %}

{% block jquery %}
<script>
    $(document).ready(function() {
        function clear_field() {
            $('#id_name').val('')
        }

        function ajax_list() {
            var container = $(".game-list");
            $.ajax({
                url: "/api/game_records",
                method: "GET",
                success: function(data){
                    container.html(data);
                },
                error: function(data){
                    console.log("error");
                    console.log(data);
                }
            })
        }

        {% comment %}function form_post_ajax() {
            $(".my-list").submit(function(event) {
                event.preventDefault();
                var formData = new FormData();
                formData.append( 'file', ($(this).find('[type=file]')[0].files[0]));
                console.log(formData.file + "  THIS");
                console.log(($(this).find('[type=file]')[0].files[0]) + "  file");
                // var formData = this_.serialize();
                console.log(formData);
                $.ajax({
                    enctype: 'multipart/form-data',
                    type: "POST",
                    url: "/api/v1/children/",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log('no i co?');
                        console.log(data);
                        clear_field();
                        ajax_list();
                    },
                    error: function (data) {
                        console.log('error');
                        console.log(data.statusText + "  ERROR STATUS TEXT");
                        console.log(data + "  ERROR DATA")

                    }
                })
            })
        }{% endcomment %}
        ajax_list();
        {#form_post_ajax();#}
    })

</script>
{% endblock jquery %}