{% extends "core/base.html" %}
{% block style %}
    <style>
        .board-cell {
        fill: transparent;
        stroke: black;
    }

    .board-container {
        background-color: #ebc98a;
        height: 610px;
        width: 610px;
    ;
    }

    .contents .board-cell-intersection .board-cell{
        -webkit-tap-highlight-color: transparent;
    }

    .board-cell-intersection-rect  .board-cell-intersection-circle{
        fill: transparent;
    }

    svg {
        fill: transparent;
    }

    .contents {
        position: relative;
        overflow: hidden;
        cursor: default;
    }

    .board-cell-intersection-coordinates {
        fill: transparent;
        font-size: 20px;
        font-style: oblique;
    }
</style>
{% endblock style %}
{% block content %}
{#    <div id="game-record-list" class="list-group"></div>#}
    <div class="container">
        <div id="game-record-list" class="row">
        </div>
    </div>
{% endblock content %}

{% block jquery %}
<script>
    $(document).ready(function() {
        function clear_field() {
            $('#id_name').val('')
        }

        function ajax_list(url, success_func) {
            var container = $(".game-list");
            $.ajax({
                url: url,
                method: "GET",
                success: function(data){
                    success_func(data);
                    infinite_scroll(data['next']);
                },
                error: function(data){
                    console.log("error");
                    console.log(data);
                }
            })
        }
        
        function game_records_list(data) {
            $.each(data['results'], function (k, v) {
                var a_element =  "<div class=\"col col-lg-9\"><a href='/gomoku/game/" + v["id"] +
                    "' class='list-group-item list-group-item-action list-group-item-light game-record-item'>" +
                    v["black_player_nickname"] + " - " + v["white_player_nickname"] + "</a></div>" +
                    "<div class=\"col\"><a href=\"#\" class=\"list-group-item list-group-item-action list-group-item-light\ delete-game-class\" data-id=" +
                    v["id"] + " >Delete</a></div>" + "<div class=\"w-100\"></div>\n";
                $("#game-record-list").append(a_element);
            });
            delete_game_record();
        }

        // Delete on click add event on button
        function delete_game_record () {
            $('.delete-game-class').click(function (e) {
                e.preventDefault();
                var this_ = $(this),
                    game_record_id = this_.data("id");
	            console.log(this_.data("id"));

	            $.ajax({
                    url: "/api/game_records/" + game_record_id + "/",
                    method: "DELETE",
                    success: function(data){
                        console.log('Deleted');
                        // clear list before update
                        $("#game-record-list").html('');
                        // update game list
                        ajax_list("/api/game_records", game_records_list);
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data.statusText);
                    }
                })
            });
        }


        function infinite_scroll(next_url) {
            var page = 1,
                empty_page = false,
                block_request = false,
                container = $(".game-list");

            console.log(next_url);
            $(window).scroll(function() {
                var margin = $(document).height() - $(window).height() - 200;
                if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
                    block_request = true;
                    page += 1;
                    url = next_url;

                $.ajax({
                    url: url,
                    method: "GET",
                    success: function(data){
                        if(next_url == null) {
                            console.log('the end!');
                            empty_page = true;
                        } else {
                            block_request = false;
                            game_records_list(data);
                            next_url = data['next'];
                            console.log(data['next'])
                        }
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    }
                })

                }
            });
        }
        ajax_list("/api/game_records", game_records_list);
    })

</script>
{% endblock jquery %}